@import "tailwindcss";

@theme {
  --color-vapor: #FAFAFA;
  --color-obsidian: #000000;
  --color-electric: #8E7BFF;
  --font-family-sans: 'DM Sans', sans-serif;
  --font-family-display: 'Bricolage Grotesque', sans-serif;
}
